@mixin button() {
	@include typeface(button);
	@include font-size(m);
	@include spacing(line-height, $base-line-height - $border-width * 2);
	@include padding(0.25 0.75);
	@include margin-bottom(1);
	position: relative;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	border: $border-width solid transparent;
	border-radius: $button-radius;
	user-select: none;
	vertical-align: top;

	@if enabled(styled) {
		@include button-style-primary;
	}
	@else {
		color: color(white);
		background-color: color(muted);
		border-color: color(muted);
	}
	@if enabled(buttons, secondary) {
		&.secondary {
			@if enabled(styled) {
				@include button-style-secondary;
			}
			@else {
				background-color: color(muted);
				border-color: color(muted);
			}
		}
	}
	@if enabled(buttons, outline) {
		&.outline {
			@if enabled(styled) {
				@include button-style-outline;
			}
			@else {
				color: color(black);
				border-color: color(black);
				background: none;
			}
		}
		@if enabled(buttons, secondary) {
			&.outline.secondary {
				@if enabled(styled) {
					@include button-style-outline-secondary;
				}
				@else {
					color: color(muted);
					border-color: color(muted);
				}
			}
		}
	}
	@if enabled(buttons, tiny) {
		&.tiny {
			@include button-tiny;
		}
	}
	@if enabled(buttons, small) {
		&.small {
			@include button-small;
		}
	}
	@if enabled(buttons, medium) {
		&.medium {
			@include button-medium;
		}
	}
	@if enabled(buttons, large) {
		&.large {
			@include button-large;
		}
	}
	@if enabled(buttons, round) {
		&.round {
			@include button-round;
		}
	}
	@if enabled(buttons, upper) {
		&.upper {
			@include button-upper;
		}
	}
	@if enabled(buttons, groups) {
		@include button-group;
	}
	@if enabled(icons) {
		@include button-icons;
	}
}

@mixin button-style-primary {
	color: color(white);
	background-color: color(primary);
	border-color: color(primary);
	&:hover {
		color: color(white);
		background-color: darken(color(primary), 10);
		border-color: darken(color(primary), 10);
		outline: none;
		text-decoration: none;
	}
	&:active,
	&.active {
		background-color: darken(color(primary), 20);
		border-color: darken(color(primary), 20);
	}
	&:disabled,
	&.disabled {
		opacity: 0.7;
		background-color: color(primary);
		border-color: color(primary);
		cursor: default;
	}
}

@mixin button-style-secondary {
	background-color: color(muted);
	border-color: color(muted);
	&:hover {
		background-color: darken(color(muted), 10);
		border-color: darken(color(muted), 10);
	}
	&:active,
	&.active {
		background-color: darken(color(muted), 20);
		border-color: darken(color(muted), 20);
	}
	&:disabled,
	&.disabled {
		background-color: color(muted);
		border-color: color(muted);
	}
}

@mixin button-style-outline {
	color: color(primary);
	border-color: color(primary);
	background: none;
	&:hover {
		color: darken(color(primary), 10);
		border-color: darken(color(primary), 10);
	}
	&:active,
	&.active {
		color: darken(color(primary), 20);
		border-color: darken(color(primary), 20);
	}
	&:disabled,
	&.disabled {
		color: color(primary);
		border-color: color(primary);
	}
}

@mixin button-style-outline-secondary {
	color: color(muted);
	border-color: color(muted);
	background: none;
	&:hover {
		color: darken(color(muted), 10);
		border-color: darken(color(muted), 10);
	}
	&:active,
	&.active {
		color: darken(color(muted), 20);
		border-color: darken(color(muted), 20);
	}
	&:disabled,
	&.disabled {
		color: color(muted);
		border-color: color(muted);
	}
}

@mixin button-tiny {
	@include font-size(xs);
	@include padding(0 0.5);
}

@mixin button-small {
	@include font-size(s);
	@include padding(0.125 0.75);
	@include margin-bottom(1.25);
}

@mixin button-medium {
	@include font-size(m);
	@include padding(0.5 1);
}

@mixin button-large {
	@include font-size(l);
	@include padding(0.75 2);
}

@mixin button-round {
	@include spacing(border-radius, 10);
}

@mixin button-upper {
	text-transform: uppercase;
	letter-spacing: 0.0625em;
}

@mixin button-group {
	&-group {
		display: inline-block;
		vertical-align: bottom;
	}
	&-group & {
		float: left;
		z-index: 1;
		&:hover,
		&:focus {
			z-index: 2;
		}
		&:active,
		&.active {
			z-index: 3;
		}
		&:first-child {
			border-radius: $border-radius 0 0 $border-radius;
		}
		&:last-child {
			border-radius: 0 $border-radius $border-radius 0;
		}
		&:not(:first-child):not(:last-child) {
			border-radius: 0;
		}
		&:not(:first-child) {
			margin-left: - $border-width;
		}
	}
}

@mixin button-icons {
	& i {
		@include margin-right(0.125);
	}
}
