$column-defaults: (
	columns: 12,
	left: 0,
	offset: 0,
	right: 0,
	span: 1,
);

@mixin column-offset($options: ()) {
	$options: map-merge($column-defaults, $options);
	$columns: map-get($options, columns);
	$offset-left: map-get($options, left);
	$offset-right: map-get($options, right);
	@if $offset-left != false {
		margin-left: column-span($offset-left, $columns);
	}
	@if $offset-right != false {
		margin-right: column-span($offset-right, $columns);
	}
}

@mixin column-size($options: ()) {
	$options: map-merge($column-defaults, $options);
	@include column-width($options);
	@include column-offset($options);
}

@mixin column-width($options: ()) {
	$options: map-merge($column-defaults, $options);
	$offset: map-get($options, offset);
	$width: column-span(map-get($options, span), map-get($options, columns));
	@if unitless($offset) == false {
		$subtract: to-unit(unit($offset), num($offset) * (num($width) / 100));
		width: calc(#{$width} - #{$offset - $subtract});
	}
	@else {
		width: $width;
	}
}

@mixin column($options: ()) {
	$defaults: (
		gutter-size: 1,
		property: 'padding-left',
		type: 'inline-block',
	);
	$options: map-merge($defaults, $options);

	@if map-get($options, type) == 'inline-block' {
		display: inline-block;
		vertical-align: top;
	}
	position: relative;
	width: 100%;
	margin: 0;
	@include font-size(m);
	@include _grid-breakpoint-gutters($options);
}

@mixin row($options: ()) {
	$defaults: (
		gutter-size: -1,
		property: 'margin-left',
		type: 'inline-block',
	);
	$options: map-merge($defaults, $options);

	@if map-get($options, type) == 'inline-block' {
		font-size: 0;
	}
	@include _grid-breakpoint-gutters($options);
}

@mixin _grid-breakpoint-gutters($options) {
	$property: map-get($options, property);
	$media: map-get($options, media);
	$num: map-get($options, gutter-size);

	#{$property}: spacing(gutter($num));
	@for $i from 1 through length($media) {
		$breakpoint: nth($media, $i);
		@if map-has-key($breakpoints, $breakpoint) {
			@include media(">=#{$breakpoint}") {
				#{$property}: spacing(gutter($breakpoint, $num));
			}
		}
	}
}
