// GRID
// ---------------------------------------------------------------------------

// default is 12 for all breakpoints
$columns: () !default;

// default is $base-line-height for all breakpoints
$gutters: () !default;

// default is $base-line-height for all breakpoints
$offsets: () !default;
